* {
    box-sizing: border-box;
}

body {
    display: block;
    background-color: crimson;
    /* background-image: url(https://i.postimg.cc/nrw7fdrk/body7.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Montserrat', sans-serif;
    color: white;     
}

.header-text {
    text-align: center;
    color: white;
    font-size: 25px;
}

.quiz-introduction {
    border-radius: 8px;
    margin: auto;
    border: solid 2px gray;
    text-align: center;
    padding: 20px;
    background-color:black;
    opacity: 0.6;
    color:white;
    width: 400px;
}

.start-quiz-button {
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.start-quiz-button:hover {
    border: black 2px solid;

}


button:hover{
 cursor: pointer;
}

.quiz {
    display: block;
    position: relative;
    margin: auto;
    border-radius: 8px;
    border: solid 2px gray;
    padding: 18px;
    background-color:black;
    opacity: 0.8;
    color:white;
    width: 400px;
    line-height: 40px;
}

button.submit-answer {
    border: green solid 2px;
    border-radius: 08px;
    padding: 12px;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 133px;
    font-weight: bold;
}

input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.question-list {
    line-height: 22px;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color:orangered;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:hover {
    cursor: pointer;
    
}

.summary {
    font-size: 22px;
    padding: 10px;
    color:white;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    right: 50px;
    top: 270px;
    position: absolute;
    margin-top: 50px;
    height: 250px;
    width: 250px;
    border: orange solid 3px;
}

.answer-window {
    opacity: 0.9;
    font-size: 30px;
    height: 300px;
    width: 350px;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    top: 200px;
    position: absolute;
    margin-top: 50px;  
    
}

.hidden {
    display: none;
}

.quiz-end {
    text-align: center;
    font-size: 25px;
}

.report-score {
    font-size: 35px;
}

.quiz-end-animation {
    text-align: center;
    display: block;
    position: relative;
    border-radius: 8px;
    margin: auto;
    border: solid 2px gray;
    padding: 20px;
    background-color:black;
    opacity: 0.8;
    color:white;
    width: 400px;
    line-height: 40px;
    animation-name: animation-end;
    animation-duration: 4s;
}

@keyframes animation-end {
    0% {border-color: black;}
    25% {border-color: yellow;}
    50% {border-color: black;}
    100% {border-color: orange;}

}

button.reset {
    font-weight: bold;
    border: green solid 2px;
    border-radius: 08px;
    padding: 13px;
}
@media screen and (max-width: 1000px) {
 .media-screen-control {
     display: none;
 }   
 .answer-window {
     display: flex;
     position: relative;
     margin: auto;
    background-color: black;
    opacity: 0.9;
    font-size: 30px;
    height: 300px;
    width: 350px;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
     
    
}
}